
cocosstudio/
proj.android/
cocosstudio/
proj.ios_mac/
proj.win32/Debug.win32/
chess.udf
chess.cfg
chess.ccs
.cocos-project.json
config.json
proj.win32/res/game.ico
proj.win32/chess.sdf
proj.win32/chess.opensdf
proj.win32/chess.v12.suo
proj.win32/chess.v12.suo
*.pyc
*.lib
*.obj
*.dll
*.tlog
*.log
*.pdb
*.res
proj.win32/HashMap.h
Classes/testNN.py
Classes/old/
proj.win32/chess.VC.VC.opendb
proj.win32/chess.VC.db
