
cocosstudio/
proj.android/
cocosstudio/
proj.ios_mac/
proj.win32/Debug.win32/
chess.udf
chess.cfg
chess.ccs
.cocos-project.json
config.json
proj.win32/res/game.ico
proj.win32/chess.sdf
proj.win32/chess.opensdf
proj.win32/chess.v12.suo
proj.win32/chess.v12.suo
*.pyc
*.lib
*.obj
*.dll
*.tlog
*.log
*.pdb
*.res
Classes/testNN.py
Classes/old/
proj.win32/chess.VC.VC.opendb
proj.win32/chess.VC.db
ChineseChess.cfg
ChineseChess.udf
ChineseChess.ccs
*.data-00000-of-00001
proj.win32/ChineseChess.VC.VC.opendb
proj.win32/ChineseChess.VC.db
proj.win32/.vs/chess/v14/.suo
*.suo
*.vcxproj
*.filters
*.user
*.sln
proj.win32/chess.sln
